# Supabase
SUPABASE_URL=
SUPABASE_SECRET_KEY=

# Google
NEXT_PUBLIC_GOOGLE_PLACES_API_KEY=             # used in the frontend for Google Places API
GOOGLE_SHEETS_SERVICE_ACCOUNT_KEY=             # service account JSON (stringified)

# Amazon SES SMTP
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASSWORD=

# MISC
ADMIN_EMAIL=
EMAIL_IGNORE_TEST_DOMAINS=
